@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

#navbar-dark {
  display: flex;
  padding: 5px 17px 5px 38px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #252b42;
}

#contact {
  display: flex;
  align-items: center;
}

#contact-span {
  display: flex;
  gap: 5px;
  padding-right: 30px;
}

#contact-logo {
  display: flex;
  text-align: center;
  gap: 5px;
}

#social-media {
  display: flex;
  height: 50px;
  padding-bottom: 5px;
  align-items: center;
  gap: 10px;
}

#social-media-logos {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 2.5px;
}

#navbar-light {
  display: flex;
  width: 100%;
  padding: 10px 38px 10px 38px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: white;
  gap: 10%;
}

h3 {
  color: #252b42;
  font-weight: bolder;

  padding-right: 50px;
}

#collapse {
  display: flex;
  width: 30%;
  padding: 2px 0px 0 0;
  justify-content: center;
  gap: 2.5%;
  color: #737373;
}

#navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #23a6f0;
  gap: 15px;
}

#navbar-nav-icons {
  display: flex;
  text-align: center;
  gap: 10px;
  align-items: center;
}

#login-register {
  display: flex;
  text-align: center;
}

#carousel {
  width: 100%;
}
